body,html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
	
	background-color: #000;
}

#canvas
{
    display:block;
    position: absolute;
    z-index: 0;
}
#landscape
{
    background:#000000 url(assets/orientation.jpg) center center no-repeat;
    position: absolute;
    z-index: 1;
}



